
[Unit]
Description=Flowvizer Edge
ConditionPathExists=/usr/local/flowvizer-edge
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/usr/local/flowvizer-edge
ExecStart=/usr/local/flowvizer-edge/flowvizer-edge

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/flowvizer-edge
ExecStartPre=/bin/chown root:root /var/log/flowvizer-edge
ExecStartPre=/bin/chmod 755 /var/log/flowvizer-edge
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=flowvizer-edge

[Install]
WantedBy=multi-user.target
