<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Flowvizer Edge</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
          </li>
        </ul>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <router-link class="nav-link" to="/dashboard"><span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span></router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/routes">
                    <span data-feather="file"></span>
                    Routes
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/configuration">
                    <span data-feather="shopping-cart"></span>
                    Configuration
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/stats">
                    <span data-feather="users"></span>
                    Stats
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/admin">
                    <span data-feather="bar-chart-2"></span>
                    Admin
                  </router-link>
                </li>
              </ul>
            </nav>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <router-view></router-view>
          </main>
        </div>
      </div>
    </div>

    <!-- Components -->
    <script type="text/x-template" id="card">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div v-if="header" class="card-header">{{header}}</div>
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{content}}</p>
        </div>
      </div>
    </script>
    

    <!-- Templates -->

    <!-- Dashboard Template -->
    <script type="text/x-template" id="dashboard">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <btn-toolbar :title="title"></btn-toolbar>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <b-card title="API Port" content="Server is listening on 8080"></b-card>
          </div>
          <div class="col-3">
            <b-card title="RTMP Port" content="RTMP Server is listening on port 1935"></b-card>
          </div>
          <div class="col-3">
            <b-card title="HLS Port" content="HLS Server is listening on port 7002"></b-card>
          </div>
          <div class="col-3">
            <b-card title="Backend Type" content="Server is using YAML backend."></b-card>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table">
              <thead class="thead-dark">
                <th>ID</th>
                <th>Sream</th>
                <th>CopyKey</th>
                <th>Enabled</th>
                <th>Endpoint</th>
              </thead>
              <tbody>
                <tr v-for="(r, key) in routes" :key="key">
                  <td> {{key}} </td>
                  <td> {{r.Stream}} </td>
                  <td> {{r.CopyKey}} </td>
                  <td> {{r.Enabled}} </td>
                  <td>
                    <h6 v-for="(e, key) in r.Endpoints">rtmp://{{e.Host}}/{{e.App}}/{{e.Stream}} </h6>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col">footer</div>
        </div>
      </div>
      
      
    </script>

    <!-- Routes Template -->
    <script type="text/x-template" id="routes">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <btn-toolbar :title="title"></btn-toolbar>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table">
              <thead class="thead-dark">
                <th>ID</th>
                <th>Sream</th>
                <th>CopyKey</th>
                <th>Enabled</th>
                <th>Endpoint</th>
              </thead>
              <tbody>
                <tr v-for="(r, key) in routes" :key="key">
                  <td> <router-link :to="`/routes/${key}`">{{key}}</router-link> </td>
                  <td> {{r.Stream}} </td>
                  <td> {{r.CopyKey}} </td>
                  <td> {{r.Enabled}} </td>
                  <td>
                    <h6 v-for="(e, key) in r.Endpoints">rtmp://{{e.Host}}/{{e.App}}/{{e.Stream}} </h6>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col">footer</div>
        </div>
      </div>
    </script>

    <!-- Route Template -->
    <script type="text/x-template" id="route">
      <div class="container-fluid">
        <div class="row">
          <h1>App Route <small>{{app}}</small></h1>
        </div>
        <div class="row">
          <div class="col">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Stream</label>
                <input v-model="route.Stream" type="text" class="form-control" id="stream" aria-describedby="streamkey" placeholder="Enter Stream Key">
                <small id="emailHelp" class="form-text text-muted">If you specify a stream key, it will be matched on incoming streams.</small>
              </div>
              <div class="form-check mb-3">
                <input v-model="route.CopyKey" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">CopyKey</label>
              </div>
              <div class="form-check mb-3">
                <input v-model="route.Enabled" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Enabled</label>
              </div>
              <h3>Endpoints</h3>
              <hr>
              <div class="row">
                <div class="col-4" v-for="(e, key) in route.Endpoints" :key="key">
                  <div class="card text-white bg-info mb-3">
                    <div class="card-body">
                      <h5 class="card-title">Endpoint</h5>
                      <h6 class="card-subtitle mb-2">{{e.ID}}</h6>
                      <p class="card-text">
                        <ul style="list-style:none;" class="list-group">
                          <li><strong class="mr-3">Host:</strong>{{e.Host}}</li>
                          <li><strong class="mr-3">Port:</strong>{{e.Port}}</li>
                          <li><strong class="mr-3">App:</strong>{{e.App}}</li>
                          <li><strong class="mr-3">Stream:</strong>{{e.Stream}}</li>
                          <li><strong class="mr-3">Enabled:</strong>{{e.Enabled}}</li>
                        </ul>
                      </p>
                      <button href="#" class="btn btn-light card-link"><span class="sr-only">(current)</span> Disable</button>
                      <button href="#" class="btn btn-light card-link">
                        <span data-feather="home"></span>Delete <span class="sr-only">(current)</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
              <router-link to="/routes" class="btn btn-default mt-3">cancel</button>
            </form>
          </div>
      </div>
    </script>

    <!-- Conifguration Template -->
    <script type="text/x-template" id="configuration">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ title }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <h2>Section title</h2>
             
          </div>
    </script>

    <!-- Stats Template -->
    <script type="text/x-template" id="stats">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ title }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <h2>Section title</h2>
             
          </div>
    </script>

    <!-- Admin Template -->
    <script type="text/x-template" id="admin">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ title }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <h2>Section title</h2>
             
          </div>
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/assets/js/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/axios.min.js"></script>
    <script src="/assets/js/vue.min.js"></script>
    <script src="/assets/js/vue-router.js"></script>
    <!-- Icons -->
    <script src="/assets/js/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    
    <script src="/assets/js/app.js"></script>
    

    <!-- Graphs -->
  </body>
</html>
