<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Flowvizer Edge</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/dashboard.css" rel="stylesheet">
    <link href="/assets/css/open-iconic-bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <router-view></router-view>
    </div>

    <!-- Components -->
    <script type="text/x-template" id="card">
      <div class="card mb-3" style="max-width: 18rem;">
        <div v-if="header" class="card-header">{{header}}</div>
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p v-if="content" class="card-text">{{content}}</p>
          <slot></slot>
        </div>
      </div>
    </script>

    <!-- btn-toolbar Component -->
    <script type="text/x-template" id="btn-toolbar">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <span v-if="title" class="h2">{{title}}</span>
        <slot name="title"></slot>
        <slot></slot>
        <slot name="actions"></slot>
      </div>
    </script>
    

    <!-- Templates -->

    <!-- Login Template -->
    <script type="text/x-template" id="login">
      <div style="height:100%;" class="container-fluid bg-light">
        <div style="height:100vh" class="row justify-content-center align-items-center">
          <div class="col-xs-12 col-lg-3">
            <div class="card shadow-lg p-3">
              
              <div class="card-body">
                <div class="card-title h3 mb-3 font-weight-normal text-info text-center">FLVZR-EDGE</div>
                <form class="form-signin" @submit.prevent="login()">
                
                <label for="inputEmail" class="sr-only">Email address</label>
                <input v-model="user.username" type="text" id="inputEmail" class="form-control mb-3" placeholder="Username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input v-model="user.password" type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required>
                <div class="checkbox mb-3">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button class="btn btn-lg btn-info btn-block" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
              </form>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
    </script>

    <!-- Home Template -->
    <script type="text/x-template" id="home">
      <div>
      <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Flowvizer Edge</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a @click.prevent="logout()" class="nav-link" href="#">Sign Out</a>
          </li>
        </ul>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <router-link class="nav-link" to="/dashboard">
                    <span class="oi oi-dashboard"></span>
                  Dashboard <span class="sr-only">(current)</span></router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/routes">
                    <span class="oi oi-project"></span>
                    Routes
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/configuration">
                    <span class="oi oi-cog"></span>
                    Configuration
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/stats">
                    <span class="oi oi-spreadsheet"></span>
                    Stats
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/admin">
                    <span class="oi oi-shield"></span>
                    Admin
                  </router-link>
                </li>
              </ul>
            </div>
          </nav>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <router-view></router-view>
          </main>
      </div>
    </div>
  </div>
    </script>

    <!-- Dashboard Template -->
    <script type="text/x-template" id="dashboard">
      <div class="container-fluid bg-white">
        <div class="row">
          <div class="col">
            <btn-toolbar :title="title">
              <template slot="actions">
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                      <button class="btn btn-sm btn-outline-secondary">Share</button>
                      <button class="btn btn-sm btn-outline-secondary">Export</button>
                  </div>
                  <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                      <span data-feather="calendar"></span>
                      This week
                  </button>
              </div>
              </template>
            </btn-toolbar>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <b-card class="shadow bg-info text-white" title="API Port">
              <h4>:{{config.APIPort}}</h4>
            </b-card>
          </div>
          <div class="col-3">
            <b-card class="shadow bg-info text-white" title="RTMP Port">
              <h4>:{{config.RTMPPort}}</h4>
            </b-card>
          </div>
          <div class="col-3">
            <b-card class="shadow bg-info text-white" title="HLS Port">
              <h4>:{{config.HLSPort}}</h4>
            </b-card>
          </div>
          <div class="col-3">
            <b-card class="shadow bg-info text-white" title="Backend Config">
              <h4 v-if="config.Backend">{{config.Backend.name}}</h4>
            </b-card>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="shadow card">
              <div class="card-body">
                <h5 class="card-title">Routes</h5>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Search</span>
                  </div>
                  <input v-model="search" type="text" class="form-control form-control-sm" aria-label="Dollar amount (with dot and two decimal places)">
                </div>
              </div>
              <table class="table table-striped table-hover">
                <thead class="thead-dark">
                  <th>ID</th>
                  <th>Sream</th>
                  <th>CopyKey</th>
                  <th>Enabled</th>
                </thead>
                <tbody>
                  <tr v-for="(r, key) in routesFiltered" :key="key">
                    <td> <router-link :to="`/routes/${r.ID}`">{{r.ID}}</router-link> </td>
                    <td> {{r.Stream}} </td>
                    <td> {{r.CopyKey}} </td>
                    <td> <span :class="[r.Enabled ? 'oi-check text-success':'oi-circle-x text-danger']" class="oi"></span> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      
    </script>

    <!-- Routes Template -->
    <script type="text/x-template" id="routes">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <btn-toolbar :title="title"></btn-toolbar>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-body justify-content-between d-flex">
                
                <div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Search</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Host or Route" aria-label="Search" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button @click.prevent="$router.push('/routes/new')" type="button" class="btn btn-info btn-sm">Add Route</button>
                  </div>
                </div>
              </div>
              <table class="table table-hover table-striped">
                <thead class="thead-dark">
                  <th>ID</th>
                  <th>Sream</th>
                  <th>CopyKey</th>
                  <th>Enabled</th>
                  <th>Endpoint</th>
                  <th></th>
                  <th></th>
                </thead>
                <tbody>
                  <tr v-for="(r, key) in routes" :key="key">
                    <td> <router-link :to="`/routes/${key}`">{{key}}</router-link> </td>
                    <td> {{r.Stream}} </td>
                    <td> {{r.CopyKey}} </td>
                    <td> <span :class="[r.Enabled ? 'oi-check text-success':'oi-circle-x text-danger']" class="oi"></span> </td>
                    <td>
                      <h6 v-for="(e, key) in r.Endpoints">rtmp://{{e.Host}}/{{e.App}}/{{e.Stream}} </h6>
                    </td>
                    <td><a @click.prevent="toggleRoute(key)" href=""><span :class="[r.Enabled ? 'text-success' : 'text-danger']" class="oi oi-power-standby"></span></a></td>
                    <td><a href="" @click.prevent="deleteRoute(key)"><span class="oi oi-trash text-info"></span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
    </script>

    <!-- Route Template -->
    <script type="text/x-template" id="route">
      <div class="container-fluid">

        <!-- New Modal -->
        <div class="modal" tabindex="-1" role="dialog" id="addEndpoint">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- Form -->
                <form @submit.prevent="addEndpoint()">

                  <!-- Host -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Host</label>
                    <input v-model="newEndpoint.Host" type="text" class="form-control" id="stream" aria-describedby="streamkey" placeholder="Enter Hostname">
                    <small id="emailHelp" class="form-text text-muted">This can be hostname or ip address</small>
                  </div>

                  <!-- Port -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Port</label>
                    <input v-model="newEndpoint.Port" type="text" class="form-control" id="stream" aria-describedby="streamkey" placeholder="1935">
                    <small id="emailHelp" class="form-text text-muted">This is optional. The Default port is 1935</small>
                  </div>

                  <!-- App -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">App</label>
                    <input v-model="newEndpoint.App" type="text" class="form-control" id="stream" aria-describedby="streamkey" placeholder="Enter Application name">
                    <small id="emailHelp" class="form-text text-muted">This is the first parameter after port ie rtmp://[host]:[port]/<strong>[app]</strong>/[stream]</small>
                  </div>

                  <!-- Stream -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Stream</label>
                    <input v-model="newEndpoint.Stream" type="text" class="form-control" id="stream" aria-describedby="streamkey" placeholder="Enter Stream Key">
                    <small id="emailHelp" class="form-text text-muted">This is the first parameter after port ie rtmp://[host]:[port]/[app]/<strong>[stream]</strong></small>
                  </div>

                  <div class="form-check mb-3">
                    <input v-model="newEndpoint.Enabled" type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Enabled</label>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" @click.prevent="addEndpoint()" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->
        

        <!-- Edit Modal -->
        <div class="modal" tabindex="-1" role="dialog" id="editEndpoint">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- Form -->
                <form @submit.prevent="addEndpoint()">

                  <!-- Host -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Host</label>
                    <input v-model="editingEndpoint.Host" type="text" class="form-control" id="stream" aria-describedby="streamkey" placeholder="Enter Hostname">
                    <small id="emailHelp" class="form-text text-muted">This can be hostname or ip address</small>
                  </div>

                  <!-- Port -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Port</label>
                    <input v-model="editingEndpoint.Port" type="text" class="form-control" id="stream" aria-describedby="streamkey" placeholder="1935">
                    <small id="emailHelp" class="form-text text-muted">This is optional. The Default port is 1935</small>
                  </div>

                  <!-- App -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">App</label>
                    <input v-model="editingEndpoint.App" type="text" class="form-control" id="stream" aria-describedby="streamkey" placeholder="Enter Application name">
                    <small id="emailHelp" class="form-text text-muted">This is the first parameter after port ie rtmp://[host]:[port]/<strong>[app]</strong>/[stream]</small>
                  </div>

                  <!-- Stream -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Stream</label>
                    <input v-model="editingEndpoint.Stream" type="text" class="form-control" id="stream" aria-describedby="streamkey" placeholder="Enter Stream Key">
                    <small id="emailHelp" class="form-text text-muted">This is the first parameter after port ie rtmp://[host]:[port]/[app]/<strong>[stream]</strong></small>
                  </div>

                  <div class="form-check mb-3">
                    <input v-model="editingEndpoint.Enabled" type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Enabled</label>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" @click.prevent="saveEditEndpoint()" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->


        <div class="row">
          <div class="col">
            <btn-toolbar title="">
              <template slot="title">
                <div>
                  <span class="h4">Application</span>
                  <span class="h5 text-info">{{app}}</span>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button @click.prevent="showAddEndpoint()" type="button" class="btn btn-info btn-sm">
                    <span class="oi oi-plus mr-2"> </span>Endpoint
                  </button>
                  <button @click.prevent="deleteRoute()" type="button" class="btn btn-secondary btn-sm">
                    <span class="oi oi-trash mr-1"></span> Delete
                  </button>
                </div>
              </template>
                
            </btn-toolbar>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <form @submit.prevent="save()">
              <div class="form-group">
                <label for="exampleInputEmail1">Stream</label>
                <input v-model="route.Stream" type="text" class="form-control" id="stream" aria-describedby="streamkey" placeholder="Enter Stream Key">
                <small id="emailHelp" class="form-text text-muted">If you specify a stream key, it will be matched on incoming streams.</small>
              </div>
              <div class="form-check mb-3">
                <input v-model="route.CopyKey" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">CopyKey</label>
              </div>
              <div class="form-check mb-3">
                <input v-model="route.Enabled" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Enabled</label>
              </div>
              <h3>Endpoints</h3>
              <hr>
              <div class="row">
                <div class="col-4" v-for="(e, key) in route.Endpoints" :key="key">
                  <div class="shadow card text-white bg-info mb-3">
                    <div class="card-body">
                      <a href="" class=" float-right text-white" @click.prevent="editEndpoint(key)"><span class="oi oi-pencil" title="Edit Endpoint" aria-hidden="true"></span></a>
                      <h6 class="card-subtitle mb-2">{{e.ID}}</h6>
                      <p class="card-text">
                        <ul style="list-style:none;" class="list-group">
                          <li><strong class="mr-3">Host:</strong>{{e.Host}}</li>
                          <li><strong class="mr-3">Port:</strong>{{e.Port}}</li>
                          <li><strong class="mr-3">App:</strong>{{e.App}}</li>
                          <li><strong class="mr-3">Stream:</strong>{{e.Stream}}</li>
                          <li><strong class="mr-3">Enabled:</strong>{{e.Enabled}}</li>
                        </ul>
                      </p>
                      <button @click.prevent="toggleEndpoint(key)" href="#" class="btn card-link">
                        <span v-if="e.Enabled" class="oi oi-power-standby text-success"></span>
                        <span v-else class="oi oi-power-standby text-danger"></span>
                      </button>
                      <button @click.prevent="removeEndpoint(key)" href="#" class="btn card-link">
                        <span class="oi oi-trash" ></span> 
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              
              <button type="submit" class="btn btn-primary mt-3">Save</button>
              <router-link to="/routes" class="btn btn-default mt-3">Cancel</button>
            </form>
          </div>
      </div>
    </script>

    <!-- Conifguration Template -->
    <script type="text/x-template" id="configuration">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <btn-toolbar title="Configuration"></btn-toolbar>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">API Port</label>
                <input v-model="config.APIPort" type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Port Number">
                <small id="emailHelp" class="form-text text-muted">This is the port that the server API will listen on. http://locahost:<strong>[port]</strong></small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">RTMP Port</label>
                <input v-model="config.RTMPPort" type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Port Number">
                <small id="emailHelp" class="form-text text-muted">This is the port that the RTMP server will listen on. rtmp://locahost:<strong>[port]</strong></small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">HLS Port</label>
                <input v-model="config.HLSPort" type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Port Number">
                <small id="emailHelp" class="form-text text-muted">This is the port that the HLS server will listen on. http://locahost:<strong>[port]</strong></small>
              </div>
              <hr>
              <h5>Backend</h5>
              <ul class="list-group">
                <li class="list-group-item" v-for="(v, k) in config.Backend" :key="k"> <span class="h6">{{k}}:</span> <span class="h5 text-info">{{v}}</span> </li>
              </ul>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </script>

    <!-- Stats Template -->
    <script type="text/x-template" id="stats">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ title }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <h2>Section title</h2>
             
          </div>
    </script>

    <!-- Admin Template -->
    <script type="text/x-template" id="admin">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ title }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <h2>Section title</h2>
             
          </div>
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/assets/js/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="/assets/js/lodash.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/axios.min.js"></script>
    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/vue-router.js"></script>
    <!-- Icons -->
    <script src="/assets/js/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    
    <script src="/assets/js/app.js"></script>
    

    <!-- Graphs -->
  </body>
</html>
